# Copyright (c) 2016-present, CloudZero, Inc. All rights reserved.
# Licensed under the BSD-style license. See LICENSE file in the project root for full license information.

boto3>=1.10.1
simplejson>=3.16.1
cachetools>=3.1.1
